body {
  background-color: salmon;
  color: white;
  font-family: monospace;
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
}

a {
  color: white;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table th,
table td {
  padding: 12px 15px;
}
table tbody tr {
  border-bottom: 1px solid #dddddd;
}
